In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
import os 
os.chdir(r"C:\Users\vbaburao\Documents") 
os.getcwd()

'C:\\Users\\vbaburao\\Documents'

In [3]:
data = pd.read_csv('decision.csv')

In [4]:
data.dtypes

Date             object
Covid cases       int64
City traific    float64
sales data      float64
dtype: object

In [5]:
data.head()

       Date  Covid cases  City traific   sales data
0  3/2/2020            2          1.12  58672545.74
1  3/3/2020            2          1.15  61311924.61
2  3/4/2020            4          1.12  61459211.34
3  3/5/2020            8          1.18  60404058.03
4  3/6/2020           14          1.17  61298387.15

In [6]:
df=data.drop('Date',axis=1)

In [7]:
X = df.drop('sales data', axis=1)
y = df['sales data']

In [8]:
X

    Covid cases  City traific
0             2          1.12
1             2          1.15
2             4          1.12
3             8          1.18
4            14          1.17
5            19          1.20
6            25          1.05
7            30          1.12
8            34          1.17
9            52          1.13
10           76          1.07
11           98          0.96
12          121          0.88
13          200          0.73
14          234          0.62
15          291          0.45
16          428          0.33
17          621          0.25
18          964          0.19
19         1178          0.17
20         1546          0.17
21         1891          0.13
22         2201          0.11
23         2433          0.12
24         2915          0.11
25         3417          0.12
26         3904          0.12
27         4256          0.12

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.7, random_state=0)

In [19]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [20]:
y_pred = regressor.predict(X_test)

In [21]:
dataset=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
dataset

         Actual    Predicted
2   61459211.34  58672545.74
22  47392924.77  44911032.74
14  83417505.56  85737422.78
17  86313335.05  58017371.03
5   55970692.24  60404058.03
11  73747569.04  68038524.91
24  44024433.01  44911032.74
13  53473655.82  68038524.91
20  41766549.70  58017371.03
25  47438098.43  44911032.74
16  90159927.53  85737422.78
1   61311924.61  58672545.74
10  71109915.71  62421040.81
27  30942419.32  44911032.74
26  43828672.89  44911032.74
8   61897499.56  62903299.93
6   42934464.65  62421040.81
4   61298387.15  60404058.03
18  77182376.69  58017371.03
19  66348544.27  58017371.03

In [22]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 7997041.0485
Mean Squared Error: 123608630518787.34
Root Mean Squared Error: 11117941.829259017

In [23]:
test = pd.read_csv('predict.csv')

In [24]:
test.dtypes

Covid cases     float64
City traific    float64
dtype: object

In [25]:
y_pred = regressor.predict(test)

In [26]:
y_pred

array([44911032.74, 44911032.74, 44911032.74, 44911032.74, 44911032.74,
       44911032.74])